<div class="h-screen">
  <app-welcome-header>
    <app-solid-button
      button-one
      buttonHeading="Login"
      (clicked)="loginButtonHandler()"
    />
    <app-outline-button
      button-two
      buttonHeading="Creaet a new Account"
      (clicked)="singinButtonHandle()"
    />
  </app-welcome-header>
  <main class="h-[80%] w-full flex justify-center flex-col">
    <div class="mr-2 ml-2">
      <app-typewritter message="Note Hub" />
    </div>
    <p class="text-center">
      NoteHub is a solo, cross-platform note-taking application designed to help
      users organize ideas and stay productive across web and mobile platforms.
    </p>
  </main>
</div>
