@import "tailwindcss";
* {
  font-family: "Montserrat", sans-serif, system-ui;
  p {
    font-family: "Lato";
  }
  input {
    font-family: "Roboto", sans-serif, system-ui;
  }
}

@layer utilities {
  .clip-hexagon {
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  }
}
