<footer class="border-t border-zinc-800 bg-zinc-900 py-6 text-sm text-zinc-400">
  <div
    class="max-w-5xl mx-auto px-4 flex flex-col md:flex-row items-center justify-between gap-4"
  >
    <!-- Left -->
    <p>{{ footerHeadLine }}</p>

    <!-- Right -->
    <div class="flex gap-6">
      <a href="#" class="hover:text-[#66aa6e] transition">About</a>
      <a href="#" class="hover:text-[#66aa6e] transition">GitHub</a>
      <a href="#" class="hover:text-[#66aa6e] transition">Changelog</a>
    </div>
  </div>
</footer>
