<div class="w-full h-full justify-center items-center flex">
  <form
    class="w-1/2 h-fit bg-zinc-900 border border-zinc-800 rounded-xl p-8 flex flex-col gap-6 shadow-md"
    #noteForm="ngForm"
    (ngSubmit)="addOrEditHandler(noteForm)"
  >
    <h2 class="text-3xl font-semibold text-center text-zinc-100 mb-6">
      {{ formHeading }}
    </h2>

    <!-- Username -->
    <div class="relative">
      <input
        type="text"
        placeholder="Title"
        name="noteTitle"
        [(ngModel)]="noteData.noteTitle"
        required
        class="w-full px-4 py-3 rounded-md bg-zinc-950 border border-zinc-800 text-zinc-100 placeholder-zinc-500 focus:outline-none focus:ring-2 focus:ring-[#66aa6e] focus:border-[#66aa6e] transition"
      />
    </div>
    <div class="relative">
      <textarea
        rows="6"
        cols="40"
        placeholder="Write you content here"
        name="noteContent"
        [(ngModel)]="noteData.noteContent"
        required
        class="w-full px-4 py-3 rounded-md bg-zinc-950 border border-zinc-800 text-zinc-100 placeholder-zinc-500 focus:outline-none focus:ring-2 focus:ring-[#66aa6e] focus:border-[#66aa6e] transition resize-y overflow-hidden"
      ></textarea>
    </div>

    <!-- Submit Button -->
    <div class="mt-4" *ngIf="noteForm.valid">
      <app-outline-button
        [buttonHeading]="buttonHeading"
        class="w-full"
      ></app-outline-button>
    </div>
  </form>
</div>
