<header
  class="sticky top-0 h-20 flex items-center justify-between flex-wrap bg-zinc-900 border-b border-zinc-800 px-4 z-50 max-sm:justify-center max-sm:py-2 max-sm:h-fit"
>
  <div class="mr-3 ml-3">
    <h1 class="text-3xl select-none text-zinc-100 font-semibold tracking-tight">
      <a [routerLink]="['/', 'home']" class="hover:text-[#66aa6e] transition">
        {{ appHeading }}
      </a>
    </h1>
  </div>
  <div class="mr-3 ml-3 flex items-center">
    <app-outline-button
      (clicked)="button_click()"
      class="border border-none text-zinc-100 hover:border-[#66aa6e] hover:text-[#66aa6e] transition"
      aria-label="go to setting"
    >
      <img [src]="imageUrl" height="17" width="17" alt="setting" />
    </app-outline-button>
    <app-solid-button
      title="logout"
      aria_label="logout button"
      (clicked)="logoutHandler()"
    >
      <img loading="lazy" src="/asset/power-off.png" height="17" width="17" />
    </app-solid-button>
  </div>
</header>
