@import "tailwindcss";
* {
  font-family: "Montserrat", sans-serif;
  /* overflow-x: hidden !important; */
  p {
    font-family: "Lato";
  }
  input {
    font-family: "Roboto", sans-serif;
    /* font-family: "Open Sans"; */
  }
}
