<aside class="fixed top-0 flex w-screen justify-center z-999">
  <app-response-status [status]="errorStatus" [message]="reponseMessage" />
</aside>
<main
  class="min-h-[calc(91.5vh-4.3rem)] py-8 bg-linear-to-br from-zinc-950 via-zinc-900 to-black text-zinc-100 flex justify-center items-center max-sm:h-fit"
>
  <div
    class="main_container flex flex-col items-center gap-6 sm:w-1/2 max-sm:mx-5"
  >
    <div
      id="image_container"
      class="w-44 h-44 rounded-full overflow-hidden border-2 border-zinc-800 shadow-md flex items-center justify-center"
    >
      <img
        [src]="userImage"
        alt="User profile image"
        class="w-full h-full object-cover"
        loading="eager"
        fetchpriority="high"
      />
    </div>

    <div class="w-full flex flex-col gap-4">
      <div
        id="field_1_name"
        class="w-full bg-zinc-900 border border-zinc-800 rounded-lg p-4 flex justify-between items-center hover:border-[#66aa6e] transition flex-wrap max-sm:justify-center"
      >
        <div class="flex flex-col">
          <h2 class="text-zinc-100 font-semibold text-lg max-sm:text-center">
            Name
          </h2>
          <div
            *ngIf="userData.userEmail == ''; else getUserName"
            class="w-30 h-5 mt-2"
          >
            <app-skeleton-ui />
          </div>
          <ng-template #getUserName
            ><p class="text-zinc-400 max-sm:text-center">
              {{ userData.userName }}
            </p>
          </ng-template>
        </div>
        <div *ngIf="userData.userEmail == ''; else getUserNameButton">
          <app-solid-button
            buttonHeading="Please wait"
            (clicked)="toggleShowEditorForUserName()"
            [buttonDisabled]="true"
          />
        </div>
        <ng-template #getUserNameButton>
          <app-solid-button
            buttonHeading="Change"
            (clicked)="toggleShowEditorForUserName()"
            [buttonDisabled]="false"
          />
        </ng-template>
      </div>
      <div
        id="field_2_email"
        class="w-full bg-zinc-900 border border-zinc-800 rounded-lg p-4 flex justify-between items-center hover:border-[#66aa6e] transition flex-wrap max-sm:justify-center"
      >
        <div class="flex flex-col">
          <h2 class="text-zinc-100 font-semibold text-lg max-sm:text-center">
            Email
          </h2>
          <div
            *ngIf="userData.userEmail == ''; else getUserEmail"
            class="w-30 h-5 mt-2"
          >
            <app-skeleton-ui />
          </div>
          <ng-template #getUserEmail
            ><p class="text-zinc-400 max-sm:text-center">
              {{ userData.userEmail }}
            </p>
          </ng-template>
        </div>
        <div *ngIf="userData.userEmail == ''; else getUserEmailButton">
          <app-solid-button
            buttonHeading="Please wait"
            (clicked)="toggleShowEditorForUserEmail()"
            [buttonDisabled]="true"
          />
        </div>
        <ng-template #getUserEmailButton
          ><app-solid-button
            buttonHeading="Change"
            (clicked)="toggleShowEditorForUserEmail()"
            [buttonDisabled]="false"
          />
        </ng-template>
      </div>

      <div
        id="field_3_password"
        class="w-full bg-zinc-900 border border-zinc-800 rounded-lg p-4 flex justify-between items-center hover:border-[#66aa6e] transition flex-wrap max-sm:justify-center select-none opacity-20"
      >
        <div class="flex flex-col">
          <h2 class="text-zinc-100 font-semibold text-lg max-sm:text-center">
            Password
          </h2>
          <p class="text-zinc-400 max-sm:text-center"></p>
        </div>
        <app-solid-button
          buttonHeading="Feature unavilabe"
          (clicked)="toggleShowEditorForUserPassword()"
          [buttonDisabled]="true"
        />
      </div>
    </div>
  </div>
</main>
<div
  *ngIf="showEditor"
  class="h-screen w-screen fixed top-0 bg-[rgba(0,0,0,0.9)] transpare"
>
  <app-user-detail-editor
    class="flex justify-center items-center h-screen"
    (toggleHandler)="showEditor = $event"
    [editOperation]="editOperation"
    [defaultValueToEdit]="defaultValueToEdit"
    (responseEmitter)="
      responseSetter($event.responseStatus, $event.responseMessage)
    "
  />
</div>
